{% extends "layout.html"%}


{% block content %}  



<h1 class="title" style="text-align: center;">{{ tournament[0][7] }}</h1>
<br><br>
<div style="margin-left: 4%; margin-right: 4%;">
    <table class="table">
        <tr>
            <tr>
                <th>Game</th>
                <td>{{ tournament[0][5] }}</td>
            </tr>

            <tr>
                <th>Prize</th>
                <td>{{ tournament[0][6] }}</td>
            </tr>

            <th> Description </th>
            <td> {{ tournament[0][2] }} </td>
        </tr>

        <tr>
            <th>Contact</th>
            <td>{{ tournament[0][1] }}</td>
        </tr>

        <tr>
            <th>Share Time</th>
            <td>{{ tournament[0][4] }}</td>
        </tr>
    </table>
</div>


{% if auth == 1 %}
<form method="POST">
<div class="row" style="margin-bottom:2%; margin-left:2%;">
    
    <div class="col">
    <div class="field is-grouped" style="margin-left:3%;">
        <div class="control">
        <button type="submit" name="update" class="button is-primary is-small btn btn-danger">Update Post</button>
        </div>
    </div>
    </div>

    <div class="col">
        <div class="field is-grouped" style="margin-left:3%;">
            <div class="control">
            <button name="delete" type="submit" class="button is-primary is-small btn btn-danger">Delete Post</button>
            </div>
        </div>
        </div>
   
</div>
</form>
{% endif %}


{% endblock %}