{% extends "layout.html"%}


{% block content %}  

<br>

<form action="" class = "tor" method="POST" name="add-tour">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Game</label>
              <select name="game" class="form-control" id="exampleFormControlSelect1" placeholder="Choose Game">
                  <option disabled selected>Choose Game</option>
                {% for gam in games %}
                <option>{{ gam[1] }}</option>
                {% endfor %}
              </select>
      </div>
  
      <div class="form-group">
        <label for="Description">Title</label>
        <input type="text" name="title" class="form-control" placeholder="Title">
      </div>
  
      <div class="form-group">
        <label for="Description">Content</label>
        <textarea type="text" name="content" class="form-control" placeholder="Description"></textarea>
      </div>
  
      <div class="form-check">
        <input name="stat" type="checkbox" value="IGL" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Mark if topic is solved</label>
      </div>
      <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}